.container {
	margin-top: 100px;
	padding: 20px;
}

.title {
	text-align: center;
	font-size: 32px!important;
	margin-bottom: 46px!important;
}

.exercisesList {
	justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row!important;
	flex-wrap: wrap!important;
    gap: 40px;
}

.firstBtn{
	background-color: #ffa9a9!important;
	margin-left: 21px!important;
	color: white!important;
	font-size: 14px!important;
	border-radius: 20px!important;
	text-transform: capitalize!important;
}

.lastBtn {
	background-color: #ffa9a9!important;
	margin-left: 21px!important;
	color: white!important;
	font-size: 14px!important;
	border-radius: 20px!important;
	text-transform: capitalize!important;
}

.paginationBlock {
	margin-top: 100px;
	align-items: center;
}

.hideBlock {
	display: none;
}

@media (max-width: 767px) {
	.conteiner {
		margin-top: 50px;
	}
	.exercisesList {
		/* gap: 50px; */
	}
}